<ion-view view-title="Home" class="home">
  <ion-content padding="true">
    <h3 class="light">Welcome To Police Infromation Portal</h3>
    <div class="card">
      <div class="item item-text-wrap">
        To enhance the capacity of Policing through Information Technology.
      </div>
    </div>
    <div class="card" >
      <div class="item item-divider">
             Mission
      </div>
      <div class="item item-text-wrap">
      To automate the Police functions through electronic data processing to meet the growing demand of Police requirements.
      </div>

    </div>
  </ion-content>
</ion-view>
