<ion-view view-title="Home">
  <ion-content padding="true">
    <div class="card">
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        I'm a Header in a Card!
      </div>
      <div class="item item-text-wrap">
        This is a basic Card with some text.
      </div>

    </div>

    <div class="card">
      <div class="item item-text-wrap">
        Reported: <b ng-bind="response.title"></b>
        <br /> latitude: <b ng-bind="response.lat"></b>
        <br /> longitude: <b ng-bind="response.lng"></b>
      </div>
  </ion-content>
</ion-view>
