<ion-view view-title="Login" class="login">
  <ion-content padding="true">


      <form ng-submit="login()" id="loginx">
        <div class="list" id="llist" >
          <label class="item item-input">
            <span class="input-label light">Username</span>
            <input type="text" ng-model="loginData.email">
          </label>
          <label class="item item-input">
            <span class="input-label light">Password</span>
            <input class="light" type="password" ng-model="loginData.password">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Log in</button>
          </label>
        </div>
      </form>

  </ion-content>
</ion-view>
