
<ion-view view-title="Case Information">
  <ion-content scroll="true">

    <div class="im-wrapper">

      <!-- Icon List -->
      <h4 class="border-top" ng-repeat="item in casess" ></i>Case Information</h4>

      <div class="card" ng-repeat="item in casess">
        <div class="item">

          <h2 ng-repeat="item in casess" >{{item.title}}</h2>
        </div>

        <div class="item item-body" ng-repeat="item in casess" >
          <img  class="full-image" ng-src="{{item.image}}">
          {{item.description}}

        </div>
          <h4 class="border-top"></i>Type : {{item.type}}</h4>
          <h4 class="border-top"></i>Date : {{item.published_at}}</h4>
      </div>



        </div>


      </div>
  </ion-content>
</ion-view>
