<ion-view view-title="Messages">
  <ion-content>
        <div class="list card stable-bg" ng-repeat="message in messages | orderBy:'-'">
            <div class="item item-avatar">
                <img src="img/message.png">
                <h2>{{message.content | limitTo:20 }}...</h2>
                <p>"{{message.received_at}}"</p>
            </div>
            <div class="item item-body">
              {{message.content}}          
            </div>
        </div>
  </ion-content>
</ion-view>
